/* algemeen */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    white-space: nowrap;
}

:root{
    --footer-tekstkleur: #424245;
    --footer-background: #f2f2f5;
    --a-tekstkleur: #2997ff;
    --headerkleur: #1D1D1F;
    --donkerblauw: #0A072C;
}




/* header */
header nav ul{
    background-color: var(--headerkleur);
    height: 3em;
    display: flex;
    justify-content:space-between;
    align-items: center;
	gap: 0;
}

header img{
    width: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

header h1 {
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-size: 19px;
    padding: 12px 15px 12px;
    font-weight: 600;
    background-color: var(--headerkleur);
}



/* dropdownmenu */
.dropdown-menu {
    display: none;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
header ul ul {
    display: block;
    position: absolute;
    background-color: var(--headerkleur);
    width: 100%;
}
  
header ul ul a {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-weight: 350;
    color: white;
    font-size: 20px;
    padding-top: 1em;
    padding-left: 2em;
    text-decoration: none;
    display: block;
    background-color: var(--headerkleur);
}

header ul ul a:nth-of-type(1) {
    padding-top: 3em;
}

header ul ul a:nth-of-type(10) {
    padding-bottom: 2em;
}

  




/* doorklik menu */
main > nav ul {
    margin-top: 6em;
    margin-bottom: 8em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1.9em;
}

main nav ul li a{
    color: white;
    font-family: "SF Pro Display";
    font-size: 18px;
}




/* main */
main {
    background-color: var(--donkerblauw);
    padding-left: 1em;
    padding-right: 1em;
	padding-bottom: 1em;
}

main > img:nth-of-type(1){
    display: block;
    width: 210px;
    height: 215px;
    margin-left: auto;
    margin-right: auto;
}

main img:nth-of-type(2){
    display: block;
	max-width: 100%;
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: -11em;
	position: relative;
}

main img:nth-of-type(3){
    display: block;
	max-width: 100%;
    width: 126px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
	position: relative;
}

main h1{
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-weight: 600 ;
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

main h2{
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 9px;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
}

main h3{
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 9px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
	margin-top: 2.5em;
	margin-bottom: 2em;
}



main p{
    color: white;
    font-size: 19px;
    font-weight: 600;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    margin-top: 16px;
}

main p:nth-of-type(2){
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    font-size: 21px;
    font-weight: 600;
}

main p:nth-of-type(3){
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    padding-left: 3px;
    font-size: 17px;
    font-weight: 400;
    white-space: pre-wrap;
}

main p:nth-of-type(4){
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    padding-left: 3px;
    font-size: 17px;
    font-weight: 400;
    white-space: pre-wrap;
}

main p :nth-of-type(5){
    color: white;
	font-size: 23px;
    font-weight: 600;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 10px;
}

main a{
	color: var(--a-tekstkleur);
	text-decoration: none;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 17px;
	display: flex;
	justify-content: center;
    padding-top: 1em;
}

main article h4,h5,h6{
	color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    font-size: 27px;
    font-weight: 600;
	padding-left: 17px;
}

main article p{
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
    padding-left: 17px;
    font-size: 17px;
    font-weight: 400;
    white-space: pre-wrap;
}

main article img{
	display: flex;
	justify-content: left;
	width: 3em;
	margin-bottom: 1.5em;
	padding-left: 17px;
}

main article:nth-of-type(2) img{
	display: flex;
	justify-content: left;
	width: 3em;
	margin-top: 5em;
	margin-bottom: 1.5em;
	padding-left: 17px;
}

main article:nth-of-type(3) img{
	display: flex;
	justify-content: left;
	width: 3em;
	margin-top: 5em;
	margin-bottom: 1.5em;
	padding-left: 17px;
}

main article a{
	display: flex;
	justify-content: left;
	margin-top: 1em;
	padding-left: 17px;
}

main article:nth-of-type(3) a{
	display: flex;
	justify-content: left;
	margin-top: 1em;
	margin-bottom: 5em;
	padding-left: 17px;
}






/* blokken */
main section{
	position: relative;
}

main section ul li{
    background-color: white;
    border-radius: 20px;
    margin-bottom: .7em;
}

main section ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section li img{
    width: 35%;
}

main section li li img{
    width: 60%;
}

main section:nth-of-type(2) li img{
    width: 60%;
}

main section:nth-of-type(6) li img{
    width: 60%;
}

main section p:nth-of-type(1){
    color: var(--donkerblauw);
    font-weight: 600;
    font-size: 14px;
}

main section p:nth-of-type(2){
    color: var(--donkerblauw);
    font-weight: normal;
    font-size: 14px;
}

main section a{
    text-decoration: none;
}

a img,
a p,
a ul{
    padding: 1em 0;
    text-align: center;
} 

main section:nth-of-type(2) ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

main section:nth-of-type(6)>ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}




/* footer */
footer {
    background-color: var(--footer-background);
    padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

footer section{
	display: flex;
}
footer section img{
	justify-content: left;
	max-width: 100%;
	width: 19px;
}

footer section p{
	font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	color: var(--footer-tekstkleur);
	font-size: 10px;
	margin-top: 0.5em;
	margin-bottom: 2.5em;
	padding-right: 15px;
}

footer section:nth-of-type(3) p{
	font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	color: var(--footer-tekstkleur);
	font-size: 10px;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	padding-right: 15px;
}

footer section:nth-of-type(4) p{
	font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	color: var(--footer-tekstkleur);
	font-size: 14px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

footer section h1{
	justify-content: center;
	font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	color: var(--footer-tekstkleur);
	font-size: 14px;
	margin-left: 2em;
	margin-top: 0.2em;
}

footer article ul li{
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: var(--footer-tekstkleur);
	font-weight: 400;
	font-size: 14px;
	margin-top: 1em;
	text-decoration: underline;
}

footer article:nth-of-type(2) ul{
	display: flex;
	flex-direction: column;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }



    /* hover */
.hover {
    transition: all 0.3s ease-in-out;
  }
  
  .hover:hover {
    transform: scale(1.1);
  }

  .focus:focus{
    color: black;
  }
